<?xml version="1.0" encoding="UTF-8"?>
                    <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
                    <plist version="1.0">
                    <dict>
                        <key>frames</key>
                        <dict>
            <key>23</key>
            <dict>
                <key>frame</key>
                <string>{{201,737},{166,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>afdsafsd1</key>
            <dict>
                <key>frame</key>
                <string>{{373,737},{111,111}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>FBF1D43e</key>
            <dict>
                <key>frame</key>
                <string>{{3,737},{192,26}}</string>
                <key>offset</key>
                <string>{0,-1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{192,37}</string>
            </dict>
            <key>fsd</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{449,728}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{449,728}</string>
            </dict>
            <key>White bottom</key>
            <dict>
                <key>frame</key>
                <string>{{373,854},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>23dsf</key>
            <dict>
                <key>frame</key>
                <string>{{406,854},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict></dict>
                <key>metadata</key>
                <dict>
                    <key>format</key>
                    <integer>2</integer>
                    <key>textureFileName</key>
                    <string>AutoAtlas.png</string>
                    <key>realTextureFileName</key>
                    <string>AutoAtlas.png</string>
                    <key>size</key>
                    <string>{487,906}</string>
                </dict>
                <key>texture</key>
                <dict>
                    <key>width</key>
                    <integer>487</integer>
                    <key>height</key>
                    <integer>906</integer>
                </dict>
            </dict>
            </plist>